<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/welcome.css" rel="stylesheet" media="screen">

  </head>
  <body>
    <div class="container">
      <h1>Welcome to Moneyball!</h1>
      <br>
        <table>
            {% for matchup in result %}
            <tr>
                <th> {{ matchup['HomeTeam'] }} vs. {{ matchup['AwayTeam'] }}</th>
                <td> {{ matchup['DateTime'] }} </td>
                <td> {{ matchup['HomeTeamProbablePitcher'] }} </td>
                <td> {{ matchup['AwayTeamProbablePitcher'] }} </td>
            </tr>
            {% endfor %}
        </table>
      <p>Click <a href="/">here</a> to go home.</p>
    </div>
  </body>
</html>