<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Moneyball</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/welcome.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Moneyball!</h1>
      <br>
        <table>
            {% for matchup in result %}
            <tr onclick="location.href = 'http://127.0.0.1:5000/results?gameid={{ matchup['GameID'] }}'">
                <th> {{ matchup['HomeTeam'] }} vs. {{ matchup['AwayTeam'] }}</th>
                <td> {{ matchup['DateTime'] }} </td>
                <td> {{ matchup['HomeTeamProbablePitcher'] }} </td>
                <td> {{ matchup['AwayTeamProbablePitcher'] }} </td>
                <td> {{ matchup['HeatRating'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
  </body>
</html>